body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 500;
}

header {
    font-size: 60px;
    text-align: center;
    color: #09B7B2;
}

#sidebar {
    display: flex;
    flex-direction: column;
    margin-top: -75px;
    right: 0;
    position: absolute;
    width: 20%;
    background: #09B7B2;
    height: 100vh;
    color: #fff;
    text-align: center;
    font-size: xx-large;
}

button {
    width:50%;
    border-radius: 20px;
    border: none;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10%;
    align-self: center;
    background-color: white;
}

input {
    width: 50%;
    border-radius: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    align-self: center;
}

.main {
    width: 80%;
}


#photoBody{
    /* background: linear-gradient(#114357, #F29492); */
        margin: 10px;
	height: 100%;
	width: 100%;
	display: flex;
        flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
}

#searchbar {
    border-radius: 20px;
    border: none;
    width: 50%;
}

#filter {
    text-align: center;
}

.photo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
}

.labels
{
    width: 500px;
    height: 500px;
}

